@use "sass:color";
@use "../../../colors.scss" as *;

.noUi-handle {
    background-color: white;
    box-shadow: unset;
    border: none;
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    transform: translate(-6px, 2.5px);
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-target {
    margin: 10px 0;
    height: 5px;
    border: none;
    background-color: color.adjust($clickgui-text-color, $lightness: -60%);
    box-shadow: unset;
}

.noUi-connect {
    background-color: rgba(var(--accent-color), 1);
}
